.newBackgroundColor{
    background-color: #990000;
    height: 600px;
  }
  
  button{
    width: 30px;
     background-color: #FFCC00;
  }
  
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    height: 3.5rem;
    background-color: #F9F9F9;
    font-size: 1.125rem;
    line-height: 1.75rem;
    position: fixed;
    bottom: 0;
}

  
  
  .footer-icon {
    width: 2rem;
    justify-content: space-evenly;
    display: flex;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}
  
  .content{
  	text-align: center;
  	color: white;
  	
  }
.home {
  width: 46px;
  height: 44px;
  background: url(img_navsprites.gif) 0 0;
}

.next {
 width: 43px;
  height: 44px;
  background: url(img_navsprites.gif) -91px 0;
}
