body{
	background-color: #990000;
	align-items:center;
	margin:auto;
	font-family:arial;
	text-align:center;
}

header{
	color: white;
	align-items:center;
	display: flex;
	padding: 40px;
}
h1{
	text-align:center;
	margin:auto;
	font-size: 60px;
}



.result{
	align-items: center;
	
	text-align:center;
	margin:auto;
}

.post{
	
	background-color:black;
	width:500px;
	align-items:center;
	border-radius:15px;
	margin: auto;
}


.caption{
	background-color:rgb(255, 199, 44);
	color:black;
	text-align: left;
	width:100%;
	
	
}
.caption p{
	padding-right: 10px;
	
	width: 90%;
	margin: auto;
}


.profile{
	display:flex;
	vertical-align:center;
	margin-left:10px;
}

.profile p{
	width: 100%;
}
.homebttn {
		text-decoration: none;
		color:  white;
		background-color:rgb(255, 199, 44);
		width: 200px;
		height: 40px;
		border-radius: 10px;
		box-shadow: none;
		margin-bottom: 20px;
		border:none;
	}
	

.footer {
    display: flex;
    border: 1px solid white;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    height: 3.5rem;
    background-color: #F9F9F9;
    font-size: 1.125rem;
    line-height: 1.75rem;
    position: fixed;
    bottom: 0;
}

.footer-icon {
    width: 2rem;
    justify-content: space-evenly;
    display: flex;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}
