.newBackgroundColor{
    background-color: #990000;
    height: 600px;
  }
  
  button{
    width: 30px;
     background-color: #FFCC00;
  }
  
  .content{
  	text-align: center;
  	color: white;
  	
  }
  
